<!DOCTYPE html>
<html lang="ZH-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>练习Element</title>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
	<el-button type="text" @click="dialogVisible = true">点击打开 Dialog</el-button>

	<el-dialog title="提示" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
	 <span>这是一段信息</span>
	 <span slot="footer" class="dialog-footer">
	 	<el-button @click="dialogVisible = false">取消
	 	</el-button>
	 	<el-button type="primary" @click="dialogVisible = false">确定</el-button>
	 </span>
	 </el-dialog>

	 <!-- Table -->
	 <el-button type="text" style="margin-left:12px;" @click="dialogTableVisible = true">打开嵌套表格的 Dialog</el-button>

	 <el-dialog title="收货地址"
	 :visible.sync="dialogTableVisible">
	 	<el-table :data="gridData">
	 		<el-table-column property="date" label="日期" width="150"></el-table-column>
	 		<el-table-column property="name" label="姓名" width="200"></el-table-column>
	 		<el-table-column property="address" label="地址"></el-table-column>
	 	</el-table>
	 </el-dialog>

	 <!-- Form -->
	 <el-button style="margin-left:12px;" type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>

	 <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
	 <el-form :model="form">
	 	<el-form-item label="活动名称" :label-width="formLabelWidth">
	 		<el-input v-model="form.name" auto-complete="off"></el-input>
	 	</el-form-item>
	 	<el-form-item label="活动区域" :label-width="formLabelWidth">
	 		<el-select v-model="form.region" placeholder="请选择活动区域">
	 		<el-option label="区域一" value="shanghai">
	 		</el-option>
	 		<el-option label="区域二" value="beijing"></el-option>
	 		</el-select>
	 	</el-form-item>
	 </el-form>
	 <div slot="footer" class="dialog-footer">
	 	<el-button @click="dialogFormVisible = false">取消
	 	</el-button>
	 	<el-button type="primary" @click="dialogFormVisible = false">确定</el-button>
	 </div>
	 </el-dialog>
</div>
<script>
	var Main = {
		data(){
			return{
				 gridData: [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }],
        dialogVisible: false,
        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px'
         };
		},
		methods:{
			handleClose(done) {
				this.$confirm('确认关闭？')
				  .then(_ =>{
				  	done();
				  })
				  .catch(_ => {});
			}
		}
	};
var Ctor =Vue.extend(Main)
new Ctor().$mount('#app')
</script>
</body>
</html>